docker-compose.override.yml
.vscode
/data/db/*
/data/files/*
/data/report-ttl-dump/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
Makefile
/config/migrations/local/*
todo.md
harvester-commands
.env