version: "3.7"

# General remark: The app 'Lokaal beslist' or 'Burgernabije besluitendatabank' was used as a template for this app and modified.
# Login and user related lechanisms were copied, updated and adapted from 'Contactgegevens loket'
# All credits to the developers of these projects

# Run these commands on a new virtuoso instance after deployment to make sure the SPARQL user can delete and insert (update).
#  grant "SPARQL_UPDATE" to "SPARQL"
#  grant execute on "DB.DBA.L_O_LOOK" to "SPARQL";
#  grant execute on "DB.DBA.SPARQL_MODIFY_BY_QUAD_DICT_CONTENTS" to "SPARQL";
#  grant execute on "DB.DBA.SPARQL_MODIFY_BY_DICT_CONTENTS" to "SPARQL";
#  grant execute on "DB.DBA.SPARQL_INSERT_DICT_CONTENT" to "SPARQL";
#  grant execute on "DB.DBA.SPARQL_DELETE_DICT_CONTENT" to "SPARQL";

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  # HTTP Proxy for identifying sessions
  # https://github.com/mu-semtech/mu-identifier
  identifier:
    image: semtech/mu-identifier:1.9.1
    environment:
      SESSION_COOKIE_SECURE: "on"
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"},{"variables":[],"name":"clean"}]'
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
    links:
      - dispatcher:dispatcher
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Reverse proxy that configures endpoints
  # https://github.com/mu-semtech/mu-dispatcher
  dispatcher:
    image: semtech/mu-dispatcher:2.0.0
    links:
      - resources:resource
    volumes:
      - ./config/dispatcher:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Front-end
  # https://github.com/lblod/frontend-data-monitoring
  frontend:
    image: lblod/frontend-data-monitoring:0.0.1
    links:
      - identifier
    environment:
      EMBER_OAUTH_API_REDIRECT_URL: "https://datamonitoringtool.lblod.info/authorization/callback"
      EMBER_OAUTH_API_BASE_URL: "https://authenticatie-ti.vlaanderen.be/op/v1/auth"
      EMBER_OAUTH_API_LOGOUT_URL: "https://authenticatie-ti.vlaanderen.be/op/v1/logout"
      EMBER_OAUTH_API_SCOPE: "tbd"
      EMBER_OAUTH_SWITCH_URL: "https://datamonitoringtool.lblod.info/authorization/switch"
      EMBER_LOKAALBESLIST_URL: "https://lokaalbeslist.lblod.info/"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Proxy for mu-cl-resources that allows caching
  # https://github.com/mu-semtech/mu-cache
  cache:
    image: semtech/mu-cache:2.0.2
    links:
      - resources:backend
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Allows accessing linked data as a JSON:API endpoint. Used by frontend
  # https://github.com/mu-semtech/mu-cl-resources
  resources:
    image: semtech/mu-cl-resources:feature-optionally-accept-strange-resource-types
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    links:
      - database:database
    volumes:
      - ./config/resources:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  accountdetail:
    image: lblod/account-detail-service:0.1.0
    labels:
      - "logging=true"
    environment:
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/public"
    links:
      - database:database
    restart: always
    logging: *default-logging

  # Allows running .sparql & .ttl files to the triplestore
  # https://github.com/mu-semtech/mu-migrations-service
  migrations:
    image: semtech/mu-migrations-service:0.8.0
    links:
      - triplestore:database
    environment:
      MU_SPARQL_TIMEOUT: "300"
    volumes:
      - ./config/migrations:/data/migrations
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # SPARQL Endpoint authorization service. Adds an authentication layer to the triplestore
  # https://github.com/mu-semtech/mu-authorization
  database:
    image: semtech/sparql-parser:0.0.7
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
    volumes:
      - ./config/cl-authorization:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # A linked-data database. All consumed data ends up here
  # https://github.com/redpencilio/docker-virtuoso
  triplestore:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/public"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Sends notifications to the uuid-generation & resources when new data is found on specific data.vlaanderen.be urls
  # https://github.com/mu-semtech/delta-notifier
  deltanotifier:
    image: semtech/mu-delta-notifier
    volumes:
      - ./config/delta:/config
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Service that generates uuid's for imported data to allow linked-data usage
  # https://github.com/redpencilio/uuid-generation-service
  uuid-generation:
    image: redpencil/uuid-generation:0.2.1
    volumes:
      - ./config/uuid-generation/:/config
    links:
      - triplestore:database
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # Like many other ABB apps we require knowledge of the different admin units and governing bodies.
  # Op is the designated source of truth for that

  op-consumer:
    image: lblod/delta-consumer:latest
    environment:
      DCR_SYNC_BASE_URL: "https://organisaties.abb.lblod.info/" # Copied from CLB
      DCR_SERVICE_NAME: "op-consumer"
      DCR_SYNC_FILES_PATH: "/sync/public/files"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/PublicCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/op"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/opDeltaFileSyncing"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/op-consumer"
      DCR_KEEP_DELTA_FILES: "true"
      DCR_DELTA_FILE_FOLDER: "/consumer-files"
      DCR_DISABLE_DELTA_INGEST: "true"
      DCR_ENABLE_DELTA_CONTEXT: "true"
      DCR_BATCH_SIZE: 1000
      # SLEEP_BETWEEN_BATCHES: 100
      BYPASS_MU_AUTH_FOR_EXPENSIVE_QUERIES: "true"
      INGEST_GRAPH: "http://mu.semte.ch/graphs/ingest"
      DCR_LANDING_ZONE_GRAPH: "http://mu.semte.ch/graphs/landing-zone/op-public"
      DIRECT_DATABASE_ENDPOINT: "http://triplestore:8890/sparql"
      DCR_DIRECT_DATABASE_ENDPOINT: "http://triplestore:8890/sparql"
    volumes:
      - ./data/files/consumer-files/op-public:/consumer-files/
      - ./data/files/consumer-files/op-public:/sync/public/files
      - ./config/consumer/op:/config/triples-dispatching/custom-dispatching
    links:
      - triplestore:database
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  # ACM/IDM login service
  login:
    image: lblod/acmidm-login-service:0.12.0
    environment:
      MU_APPLICATION_AUTH_USERID_CLAIM: "vo_id"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "abb_dmt_rol_2d"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/public"
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "tbd"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://datamonitoringtool.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"

  # reasoner: # OR QUERY
  #   image: eyereasoner/reasoning-service:increased-stack-limit
  #   volumes:
  #     - ./config/reasoner:/config
  #   restart: always
  #   labels:
  #     - "logging=true"
  #   logging: *default-logging

  counting-service:
    image: lblod/dm-count-report-generation:latest
    volumes:
      - ./config/counting-service:/config
      - ./data/report-ttl-dump:/dump
    environment:
      DISABLE_DEBUG_ENDPOINT: "true"
      ADMIN_UNIT_ENDPOINT: "http://triplestore:8890/sparql"
      REPORT_ENDPOINT: "http://triplestore:8890/sparql"
      ROOT_URL_PATH: '/counting-service'
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
